<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/studentpostrequest.js"></script>
<script src="/js/studentgetrequest.js"></script>
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
</head>
<body>


	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="jumbotron">
					<h1>Student-Add</h1>
					<hr />
					<h4>Spring Framework Jquery Ajax Demos</h4>
					<div id="postResultDiv"></div>
					<hr />

					<form action="/save" th:action="@{/save}" method="post"
						id="customerForm" name="employeeForm">

						<div class="form-group">
							<label for="email">Name:</label> <input type="text"
								class="form-control" placeholder="Enter name" name="name"
								id="name" />
						</div>

						<div class="form-group">
							<label for="email">RollNo:</label> <input type="text"
								class="form-control" placeholder="Enter RollNo" name="rollNo"
								id="rollNo" />
						</div>

						<div class="form-group">
							<label for="email">City:</label> <input type="text"
								class="form-control" placeholder="Enter City" name="city"
								id="city" />
						</div>

						<button type="submit" class="btn btn-default">Submit</button>
					</form>


				</div>
			</div>




			<div class="col-md-6">
				<div class="jumbotron">
					<h1>Student-List!</h1>
					<span th:text="${students}"></span>
					<br /> <br />
					<!-- <div id="getdiv">
						<button id="getBtn">Get All Ajax</button>
					</div>
					<div id="getResultDiv">
						<ul class="list-group">
						</ul>
					</div>
 -->
					<table class="table table-striped" th:each="student : ${students}">
						<thead>
							<tr>
								<th>Name</th>
								<th>RollNo</th>
								<th>City</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><span th:text="${student.name}"></span></td>
								<td><span th:text="${student.rollNo}"></span></td>
								<td><span th:text="${student.city}"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>





</body>
</html>