<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


	<div class="container">
		<div class="jumbotron">
			<h1>Welcome to Home !</h1>
			<br />
			<p>
				<a class="btn btn-primary btn-lg" th:href="@{/student-add}"
					role="button"> Add Student</a> <a class="btn btn-primary btn-lg"
					th:href="@{/customer-add}" role="button"> Ajax Demo</a>

			</p>
		</div>
	</div>

</body>
</html>